* {
    font-family: Arial, Helvetica, sans-serif;
}
.error {
    color: red;
}

.carousel-inner img {
    object-fit: cover;
    width: 100%;
    height: calc(100vh / 3);
}

table {
    border: 1px solid black;
    margin: 10px;
}

/* Nav menu header.php */

nav {
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    position: relative; 
    top: 8px;
  }
  
  li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
  }
  
  li a:hover {
    background-color: #ddd;
    height: 100%;
  }

  .carousel-container {
    position: relative;
    z-index: 0; 
    margin-top: 60px; 
  }

/* follow unfollow space followers.php */
.follow-links {
    white-space: nowrap;
}

.follow-link {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    margin-top: 25px;
    background-color: #ddd;
    color: #333;
    text-decoration: none;
}

.follow-link:hover {
    background-color: #aaa;
    color: #fff;
}

h1.mb-4 {
    text-align: center;
    margin-top: 50px; 
  }

  .m {
    color: rgb(63, 101, 204);
  }

  .f {
    color: rgb(210, 70, 150);
  }
  .o {
    color: rgb(52, 51, 51);
  }

  /* Css za show_profile */
  .container.profile-container {
    margin-top: 100px;
  }

